a,
a:active,
a:hover,
a:visited {
    color: blue;
}

/* Do not show TOC heading in prominent blue */
#TableOfContents a,
#TableOfContents a:active,
#TableOfContents a:hover,
#TableOfContents a:visited {
    color: inherit;
}

pre code {
    padding: 15px;
}

pre, code {
    background-color: #d4d6db;
    border-radius: 4px;
    padding: 0px;
}

.flabel {
  font-size: large;
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
