a,
a:active,
a:hover,
a:visited {
    color: blue;
}

/* Do not show TOC heading in prominent blue */
#TableOfContents a,
#TableOfContents a:active,
#TableOfContents a:hover,
#TableOfContents a:visited {
    color: inherit;
}

pre code {
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    display: block;
}

pre, code {
    background-color: #d4d6db;
    border-radius: 4px;
    padding: 0px;
    overflow: hidden;
}

.flabel {
  font-size: large;
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.fparent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.fparent > * {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.fbox1 {
  flex-basis: 0;
  flex-shrink: 1;
  margin-right: 2em;
}

.fbox2 {
  flex-basis: 0;
  flex-grow: 1;
}

.fchild {
  margin-right: 1em;
}

span.fchild {
    white-space: nowrap;
}
