a,
a:active,
a:hover,
a:visited {
    color: blue;
}

/* Do not show TOC heading in prominent blue */
#TableOfContents a,
#TableOfContents a:active,
#TableOfContents a:hover,
#TableOfContents a:visited {
    color: inherit;
}

pre code {
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    display: block;
}

pre, code {
    background-color: #e6e9ed;
    border-radius: 4px;
    padding: 0px;
    overflow: hidden;
}

.flabel {
  font-size: large;
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1.spaced, h2.spaced, h3.spaced {
  margin-top: 2em;
}
